{% extends 'base.html' %}

{% block content %}
<div className="page">
    <div className="container">
    <h1>{% block title %} IT-4320 Trip Reservation System {% endblock %}</h1>
    <p>Welcome to the IT-4320 reservation system. Use the select box to choose whether to make a reservation or log in as an administratior. </p>
    <form method="get">
        <label for="menu">Choose Menu Option:</label><br>
        <select id="menu" name="menu">
            <option value="">Choose an option</option>
            <option value="admin">Admin Login</option>
            <option value="reserve">Reserve a Seat</option>
        </select>
        <button onsubmit="handleMenuSelection(this.value)">Submit</button>
    </form>
    </div>
</div>

<script>
    function handleMenuSelection(choice){
        if (choice === 'reserve'){
            return redirect(url_for('reservations'));
        }else if (choice === 'admin'){
            return redirect(url_for('admin'));
        }
    }
</script>
{% endblock %}
